In [24]:
# Import All Necessary Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns
import ipywidgets as widgets
import sklearn.linear_model
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score, root_mean_squared_error
from sklearn.model_selection import train_test_split
from tensorflow import keras
from keras import layers
from keras.models import Sequential
from keras.layers import Input, Dense

In [25]:
# Read Data from Files
hls_all_raw = pd.read_csv("HSL_ALL.csv")
weo_raw = pd.read_csv("WEOOct2023all.xls", sep='\t')

In [26]:
# Print and Display Raw Data
print(hls_all_raw["Indicator"])
print("\n===========================================================\n")
hls_slice = pd.DataFrame(hls_all_raw, columns =["Country","Indicator","Type of indicator","Time","Value"])
print(hls_slice)

0                  Household income
1                  Household income
2                  Household income
3                  Household income
4                  Household income
                    ...
17544                      Earnings
17545                      Earnings
17546    Satisfaction with time use
17547    Satisfaction with time use
17548    Satisfaction with time use
Name: Indicator, Length: 17549, dtype: object

===========================================================

         Country                   Indicator Type of indicator  Time  \
0      Australia            Household income           Average  2004
1      Australia            Household income           Average  2005
2      Australia            Household income           Average  2006
3      Australia            Household income           Average  2007
4      Australia            Household income           Average  2008
...          ...                         ...               ...   ...
17544    Germany                    Earnings       Deprivation  2019
17545    Germany                    Earnings       Deprivation  2020
17546     Mexico  Satisfaction with time use       Deprivation  2021
17547     Canada  Satisfaction with time use       Deprivation  2021
17548     Canada  Satisfaction with time use       Deprivation  2022

              Value
0      28476.000000
1      28730.000000
2      29777.000000
3      30911.000000
4      32475.000000
...             ...
17544     17.635464
17545     16.983873
17546      7.703481
17547      6.200000
17548      6.700000

[17549 rows x 5 columns]

In [27]:
# Print Indicator and Country of HSL Data
hls_ls = hls_slice.loc[hls_all_raw["Indicator"] == "Life satisfaction"]
print(hls_ls)
print("\n===========================================================\n")
print("Total records:")
print(len(hls_ls))

print("\n===========================================================\n")
print("Total Unique Countries:")
print(len(hls_ls["Country"].unique()))

print("\n===========================================================\n")
print("Country List")
print(hls_ls["Country"].unique())

         Country          Indicator Type of indicator  Time     Value
180    Australia  Life satisfaction           Average  2014  7.600000
181    Australia  Life satisfaction           Average  2019  7.500000
182    Australia  Life satisfaction           Average  2020  7.200000
489      Austria  Life satisfaction           Average  2013  7.800000
490      Austria  Life satisfaction           Average  2018  8.002416
...          ...                ...               ...   ...       ...
15227     Canada  Life satisfaction       Deprivation  2017  2.800000
15228     Canada  Life satisfaction       Deprivation  2018  2.500000
15229     Canada  Life satisfaction       Deprivation  2019  2.500000
15230     Canada  Life satisfaction       Deprivation  2020  2.800000
15231     Canada  Life satisfaction       Deprivation  2021  2.800000

[224 rows x 5 columns]

===========================================================

Total records:
224

===========================================================

Total Unique Countries:
35

===========================================================

Country List
['Australia' 'Austria' 'Belgium' 'Canada' 'Czechia' 'Denmark' 'Finland'
 'France' 'Germany' 'Greece' 'Hungary' 'Iceland' 'Ireland' 'Italy' 'Japan'
 'Korea' 'Luxembourg' 'Mexico' 'Netherlands' 'New Zealand' 'Norway'
 'Poland' 'Portugal' 'Slovak Republic' 'Spain' 'Sweden' 'Switzerland'
 'TÃ¼rkiye' 'United Kingdom' 'Colombia' 'Estonia' 'Israel' 'Latvia'
 'Lithuania' 'Slovenia']

In [28]:
# Filter to Year 2013
hls_train = hls_ls.loc[(hls_ls["Time"] >= 2009) & (hls_ls["Time"] <= 2022)]
hls_train = hls_train.loc[hls_ls["Type of indicator"] == "Average"]
print("\n===========================================================\n")
print("Total records:")
print(len(hls_train))

print("\n===========================================================\n")
print("Total Unique Countries:")
print(len(hls_train["Country"].unique()))

print("\n===========================================================\n")
print("Record:")
print(hls_train)

===========================================================

Total records:
118

===========================================================

Total Unique Countries:
35

===========================================================

Record:
         Country          Indicator Type of indicator  Time     Value
180    Australia  Life satisfaction           Average  2014  7.600000
181    Australia  Life satisfaction           Average  2019  7.500000
182    Australia  Life satisfaction           Average  2020  7.200000
489      Austria  Life satisfaction           Average  2013  7.800000
490      Austria  Life satisfaction           Average  2018  8.002416
...          ...                ...               ...   ...       ...
11425  Lithuania  Life satisfaction           Average  2018  6.382413
11426  Lithuania  Life satisfaction           Average  2021  7.000000
11894   Slovenia  Life satisfaction           Average  2013  6.963051
11895   Slovenia  Life satisfaction           Average  2018  7.310714
11896   Slovenia  Life satisfaction           Average  2021  7.500000

[118 rows x 5 columns]

In [29]:
# Select Row of Data from WEO Dataset and Select Year (Column)
weo_selected_measurement = weo_raw.loc[weo_raw['WEO Subject Code'].str.contains("LUR")]
weo_selected_measurement_2s = pd.DataFrame(weo_selected_measurement, columns=['Country', '2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019'])



weo_selected_measurement_2s.describe()

            Country 2009 2010 2011 2012 2013  2014 2015   2016  2017 2018 2019
count           196  110  112  112  112  112   112  112    112   113  112  110
unique          196  107  108  109  110  110   107  110    108   113  108  108
top     Afghanistan  5.9  3.3  7.9  8.1  3.1  10.6    7  9.541  13.7    9  5.2
freq              1    3    2    2    2    2     2    2      2     1    2    2

In [30]:
weo_transposed_data = pd.melt(weo_selected_measurement_2s, id_vars=['Country'], var_name='Year', value_name="Unemployment Measurement")

hls_train = hls_train.rename(columns={"Time": "Year"})
weo_transposed_data['Year'] = pd.to_numeric(weo_transposed_data['Year'])
hls_train['Year'] = pd.to_numeric(hls_train['Year'])

merged_train_data = pd.merge(hls_train, weo_transposed_data, on=["Country", "Year"])
merged_train_data = merged_train_data.rename(columns={"Value": "Happiness Measurement"})

In [31]:
# Clean Data for Trainning
merged_train_data.describe(include='all')

,Country,Indicator,Type of indicator,Year,Happiness Measurement,Unemployment Measurement
count,81,81,81,81.000000,81.000000,81
unique,31,1,1,NaN,NaN,76
top,Canada,Life satisfaction,Average,NaN,NaN,7.033
freq,11,81,81,NaN,NaN,2
mean,NaN,NaN,NaN,2015.358025,7.348162,NaN
std,NaN,NaN,NaN,2.633005,0.711794,NaN
min,NaN,NaN,NaN,2009.000000,5.700000,NaN
25%,NaN,NaN,NaN,2013.000000,6.951438,NaN
50%,NaN,NaN,NaN,2015.000000,7.600000,NaN
75%,NaN,NaN,NaN,2018.000000,7.948925,NaN
max,NaN,NaN,NaN,2019.000000,8.264853,NaN

In [32]:
# Drop NaN
merged_train_data = merged_train_data.dropna(subset=['Unemployment Measurement'])
merged_train_data.describe(include='all')

,Country,Indicator,Type of indicator,Year,Happiness Measurement,Unemployment Measurement
count,81,81,81,81.000000,81.000000,81
unique,31,1,1,NaN,NaN,76
top,Canada,Life satisfaction,Average,NaN,NaN,7.033
freq,11,81,81,NaN,NaN,2
mean,NaN,NaN,NaN,2015.358025,7.348162,NaN
std,NaN,NaN,NaN,2.633005,0.711794,NaN
min,NaN,NaN,NaN,2009.000000,5.700000,NaN
25%,NaN,NaN,NaN,2013.000000,6.951438,NaN
50%,NaN,NaN,NaN,2015.000000,7.600000,NaN
75%,NaN,NaN,NaN,2018.000000,7.948925,NaN
max,NaN,NaN,NaN,2019.000000,8.264853,NaN

In [33]:
merged_train_data['Unemployment Measurement'] = merged_train_data['Unemployment Measurement'].astype(float)
merged_train_data = merged_train_data.dropna()
merged_train_data = merged_train_data.drop_duplicates()
merged_train_data.describe(include='all')

,Country,Indicator,Type of indicator,Year,Happiness Measurement,Unemployment Measurement
count,81,81,81,81.000000,81.000000,81.000000
unique,31,1,1,NaN,NaN,NaN
top,Canada,Life satisfaction,Average,NaN,NaN,NaN
freq,11,81,81,NaN,NaN,NaN
mean,NaN,NaN,NaN,2015.358025,7.348162,7.437765
std,NaN,NaN,NaN,2.633005,0.711794,4.512644
min,NaN,NaN,NaN,2009.000000,5.700000,2.358000
25%,NaN,NaN,NaN,2013.000000,6.951438,4.881000
50%,NaN,NaN,NaN,2015.000000,7.600000,6.408000
75%,NaN,NaN,NaN,2018.000000,7.948925,8.325000
max,NaN,NaN,NaN,2019.000000,8.264853,27.475000

In [46]:
# Drop the Outliers
x_iqr = 8.325 - 4.881
x_upper_fence = 8.325 + 1.5 * x_iqr
x_lower_fence = 4.881 - 1.5 * x_iqr

y_iqr = 7.94 - 6.951438
y_upper_fence = 7.94 + 1.5 * y_iqr
y_lower_fence = 6.951438 - 1.5 * y_iqr

In [47]:
x_outliers = np.where((merged_train_data['Unemployment Measurement'] > x_upper_fence) | (merged_train_data['Unemployment Measurement'] < x_lower_fence))
y_outliers = np.where((merged_train_data['Happiness Measurement'] > y_upper_fence) | (merged_train_data['Happiness Measurement'] < y_lower_fence))

In [48]:
merged_train_data = merged_train_data.drop(x_outliers[0])
merged_train_data = merged_train_data.drop(y_outliers[0])

In [49]:
# Training[80%] and Test[20%] Sets of the Data\
X = np.array(merged_train_data["Unemployment Measurement"]).reshape(-1,1)
# Y for Fitting in Sci-Kit Learn
Y = np.array(merged_train_data["Happiness Measurement"]).reshape(-1,1)

x = X.flatten()
y = Y.flatten()

# Training and Test Data
X_train, X_test, Y_train, Y_test = train_test_split(X, y, train_size=0.8, random_state=42)

# plot data
out1 = widgets.Output()
with out1:
  plt.scatter(x, y)
  plt.xlabel('Unemployment')
  plt.ylabel('Happiness')
  plt.title("Data Plot: 2009 - 2022")
  plt.show()

# Fit linear model
model_linear = sklearn.linear_model.LinearRegression()
model_linear.fit(X_train, Y_train)
# Fit regression model
model_regr_1 = DecisionTreeRegressor(max_depth=2)
model_regr_2 = DecisionTreeRegressor(max_depth=6)
model_regr_1.fit(X_train, Y_train)
model_regr_2.fit(X_train, Y_train)

# Plot predictions - for Linear Regression
predict_x = [X_test for X_test in range(15)]
predict_x = [[X_test/100] for X_test in predict_x]
# Predict Y - for Linear Regression
predict_y = model_linear.predict(predict_x)
# Predict - Descision Tree
y_1 = model_regr_1.predict(X_test)
y_2 = model_regr_2.predict(X_test)

# Linear Regression
out2 = widgets.Output()
with out2:
  plt.scatter(predict_x, predict_y)
  plt.scatter(x, y)
  plt.xlabel('Unemployment')
  plt.ylabel('Happiness')
  plt.title("Prediction Line: 2009 - 2022")
  plt.show()

# Decision Tree
out3 = widgets.Output()
with out3:
  plt.scatter(x, y, s=50, edgecolor="black", c="darkorange", label="data")
  plt.plot(X_test, y_1, color="blue", label="max_depth=2", linewidth=2)
  plt.plot(X_test, y_2, color="violet", label="max_depth=6", linewidth=2)
  plt.xlabel('Unemployment')
  plt.ylabel('Happiness')
  plt.title("Decision Tree Regressor: 2009 - 2022")
  plt.show()

In [50]:
# Neural Network
tf_model = Sequential()
tf_model.add(Input(shape=(1,)))
tf_model.add(Dense(250,activation = "relu"))
tf_model.add(Dense(250,activation = "LeakyReLU"))
tf_model.add(Dense(250,activation = "ThresholdedReLU"))
tf_model.add(Dense(250,activation = "PReLU"))
tf_model.add(Dense(250,activation = "ELU"))
tf_model.add(Dense(250,activation = "relu"))
tf_model.add(Dense(1))

tf_model.compile(
loss = 'MSE', optimizer = 'Adam', metrics=['mse']
)
tf_model.fit(X_train, Y_train, batch_size = 256, epochs = 100)

Epoch 1/100
1/1 [==============================] - 1s 559ms/step - loss: 54.6236 - mse: 54.6236
Epoch 2/100
1/1 [==============================] - 0s 5ms/step - loss: 54.2084 - mse: 54.2084
Epoch 3/100
1/1 [==============================] - 0s 5ms/step - loss: 52.8846 - mse: 52.8846
Epoch 4/100
1/1 [==============================] - 0s 4ms/step - loss: 49.1958 - mse: 49.1958
Epoch 5/100
1/1 [==============================] - 0s 5ms/step - loss: 44.3512 - mse: 44.3512
Epoch 6/100
1/1 [==============================] - 0s 8ms/step - loss: 36.7880 - mse: 36.7880
Epoch 7/100
1/1 [==============================] - 0s 5ms/step - loss: 28.5594 - mse: 28.5594
Epoch 8/100
1/1 [==============================] - 0s 6ms/step - loss: 19.1517 - mse: 19.1517
Epoch 9/100
1/1 [==============================] - 0s 5ms/step - loss: 10.5288 - mse: 10.5288
Epoch 10/100
1/1 [==============================] - 0s 5ms/step - loss: 6.4766 - mse: 6.4766
Epoch 11/100
1/1 [==============================] - 0s 6ms/step - loss: 9.1575 - mse: 9.1575
Epoch 12/100
1/1 [==============================] - 0s 6ms/step - loss: 10.9306 - mse: 10.9306
Epoch 13/100
1/1 [==============================] - 0s 4ms/step - loss: 7.9100 - mse: 7.9100
Epoch 14/100
1/1 [==============================] - 0s 5ms/step - loss: 4.5103 - mse: 4.5103
Epoch 15/100
1/1 [==============================] - 0s 4ms/step - loss: 2.6579 - mse: 2.6579
Epoch 16/100
1/1 [==============================] - 0s 5ms/step - loss: 2.9029 - mse: 2.9029
Epoch 17/100
1/1 [==============================] - 0s 5ms/step - loss: 3.9587 - mse: 3.9587
Epoch 18/100
1/1 [==============================] - 0s 5ms/step - loss: 4.8003 - mse: 4.8003
Epoch 19/100
1/1 [==============================] - 0s 5ms/step - loss: 4.6394 - mse: 4.6394
Epoch 20/100
1/1 [==============================] - 0s 6ms/step - loss: 3.6283 - mse: 3.6283
Epoch 21/100
1/1 [==============================] - 0s 4ms/step - loss: 2.4622 - mse: 2.4622
Epoch 22/100
1/1 [==============================] - 0s 4ms/step - loss: 1.8742 - mse: 1.8742
Epoch 23/100
1/1 [==============================] - 0s 5ms/step - loss: 2.1019 - mse: 2.1019
Epoch 24/100
1/1 [==============================] - 0s 4ms/step - loss: 2.4437 - mse: 2.4437
Epoch 25/100
1/1 [==============================] - 0s 5ms/step - loss: 2.3171 - mse: 2.3171
Epoch 26/100
1/1 [==============================] - 0s 4ms/step - loss: 1.9204 - mse: 1.9204
Epoch 27/100
1/1 [==============================] - 0s 5ms/step - loss: 1.7658 - mse: 1.7658
Epoch 28/100
1/1 [==============================] - 0s 5ms/step - loss: 2.0482 - mse: 2.0482
Epoch 29/100
1/1 [==============================] - 0s 5ms/step - loss: 2.2194 - mse: 2.2194
Epoch 30/100
1/1 [==============================] - 0s 4ms/step - loss: 2.1203 - mse: 2.1203
Epoch 31/100
1/1 [==============================] - 0s 5ms/step - loss: 1.7145 - mse: 1.7145
Epoch 32/100
1/1 [==============================] - 0s 4ms/step - loss: 1.6233 - mse: 1.6233
Epoch 33/100
1/1 [==============================] - 0s 5ms/step - loss: 1.8097 - mse: 1.8097
Epoch 34/100
1/1 [==============================] - 0s 4ms/step - loss: 1.8906 - mse: 1.8906
Epoch 35/100
1/1 [==============================] - 0s 6ms/step - loss: 1.9051 - mse: 1.9051
Epoch 36/100
1/1 [==============================] - 0s 5ms/step - loss: 2.1532 - mse: 2.1532
Epoch 37/100
1/1 [==============================] - 0s 5ms/step - loss: 2.2276 - mse: 2.2276
Epoch 38/100
1/1 [==============================] - 0s 5ms/step - loss: 2.0732 - mse: 2.0732
Epoch 39/100
1/1 [==============================] - 0s 6ms/step - loss: 1.8737 - mse: 1.8737
Epoch 40/100
1/1 [==============================] - 0s 5ms/step - loss: 1.7886 - mse: 1.7886
Epoch 41/100
1/1 [==============================] - 0s 6ms/step - loss: 1.5121 - mse: 1.5121
Epoch 42/100
1/1 [==============================] - 0s 5ms/step - loss: 1.2589 - mse: 1.2589
Epoch 43/100
1/1 [==============================] - 0s 4ms/step - loss: 1.1947 - mse: 1.1947
Epoch 44/100
1/1 [==============================] - 0s 4ms/step - loss: 1.0576 - mse: 1.0576
Epoch 45/100
1/1 [==============================] - 0s 5ms/step - loss: 0.9442 - mse: 0.9442
Epoch 46/100
1/1 [==============================] - 0s 5ms/step - loss: 0.8288 - mse: 0.8288
Epoch 47/100
1/1 [==============================] - 0s 5ms/step - loss: 0.8200 - mse: 0.8200
Epoch 48/100
1/1 [==============================] - 0s 5ms/step - loss: 0.7991 - mse: 0.7991
Epoch 49/100
1/1 [==============================] - 0s 5ms/step - loss: 0.7930 - mse: 0.7930
Epoch 50/100
1/1 [==============================] - 0s 5ms/step - loss: 0.7968 - mse: 0.7968
Epoch 51/100
1/1 [==============================] - 0s 5ms/step - loss: 0.8168 - mse: 0.8168
Epoch 52/100
1/1 [==============================] - 0s 5ms/step - loss: 0.7699 - mse: 0.7699
Epoch 53/100
1/1 [==============================] - 0s 5ms/step - loss: 0.7230 - mse: 0.7230
Epoch 54/100
1/1 [==============================] - 0s 4ms/step - loss: 0.7261 - mse: 0.7261
Epoch 55/100
1/1 [==============================] - 0s 6ms/step - loss: 0.7006 - mse: 0.7006
Epoch 56/100
1/1 [==============================] - 0s 5ms/step - loss: 0.6762 - mse: 0.6762
Epoch 57/100
1/1 [==============================] - 0s 6ms/step - loss: 0.6724 - mse: 0.6724
Epoch 58/100
1/1 [==============================] - 0s 6ms/step - loss: 0.7130 - mse: 0.7130
Epoch 59/100
1/1 [==============================] - 0s 6ms/step - loss: 0.7247 - mse: 0.7247
Epoch 60/100
1/1 [==============================] - 0s 5ms/step - loss: 0.6997 - mse: 0.6997
Epoch 61/100
1/1 [==============================] - 0s 4ms/step - loss: 0.7002 - mse: 0.7002
Epoch 62/100
1/1 [==============================] - 0s 6ms/step - loss: 0.7054 - mse: 0.7054
Epoch 63/100
1/1 [==============================] - 0s 4ms/step - loss: 0.7020 - mse: 0.7020
Epoch 64/100
1/1 [==============================] - 0s 5ms/step - loss: 0.6645 - mse: 0.6645
Epoch 65/100
1/1 [==============================] - 0s 4ms/step - loss: 0.6538 - mse: 0.6538
Epoch 66/100
1/1 [==============================] - 0s 5ms/step - loss: 0.5788 - mse: 0.5788
Epoch 67/100
1/1 [==============================] - 0s 6ms/step - loss: 0.5727 - mse: 0.5727
Epoch 68/100
1/1 [==============================] - 0s 5ms/step - loss: 0.5700 - mse: 0.5700
Epoch 69/100
1/1 [==============================] - 0s 4ms/step - loss: 0.5400 - mse: 0.5400
Epoch 70/100
1/1 [==============================] - 0s 5ms/step - loss: 0.5130 - mse: 0.5130
Epoch 71/100
1/1 [==============================] - 0s 4ms/step - loss: 0.4964 - mse: 0.4964
Epoch 72/100
1/1 [==============================] - 0s 4ms/step - loss: 0.4634 - mse: 0.4634
Epoch 73/100
1/1 [==============================] - 0s 4ms/step - loss: 0.4401 - mse: 0.4401
Epoch 74/100
1/1 [==============================] - 0s 5ms/step - loss: 0.4025 - mse: 0.4025
Epoch 75/100
1/1 [==============================] - 0s 5ms/step - loss: 0.4076 - mse: 0.4076
Epoch 76/100
1/1 [==============================] - 0s 4ms/step - loss: 0.3964 - mse: 0.3964
Epoch 77/100
1/1 [==============================] - 0s 5ms/step - loss: 0.3714 - mse: 0.3714
Epoch 78/100
1/1 [==============================] - 0s 4ms/step - loss: 0.3498 - mse: 0.3498
Epoch 79/100
1/1 [==============================] - 0s 4ms/step - loss: 0.3322 - mse: 0.3322
Epoch 80/100
1/1 [==============================] - 0s 5ms/step - loss: 0.3556 - mse: 0.3556
Epoch 81/100
1/1 [==============================] - 0s 4ms/step - loss: 0.3294 - mse: 0.3294
Epoch 82/100
1/1 [==============================] - 0s 5ms/step - loss: 0.3361 - mse: 0.3361
Epoch 83/100
1/1 [==============================] - 0s 4ms/step - loss: 0.3433 - mse: 0.3433
Epoch 84/100
1/1 [==============================] - 0s 4ms/step - loss: 0.3441 - mse: 0.3441
Epoch 85/100
1/1 [==============================] - 0s 4ms/step - loss: 0.3566 - mse: 0.3566
Epoch 86/100
1/1 [==============================] - 0s 4ms/step - loss: 0.3382 - mse: 0.3382
Epoch 87/100
1/1 [==============================] - 0s 5ms/step - loss: 0.3509 - mse: 0.3509
Epoch 88/100
1/1 [==============================] - 0s 4ms/step - loss: 0.3522 - mse: 0.3522
Epoch 89/100
1/1 [==============================] - 0s 4ms/step - loss: 0.3427 - mse: 0.3427
Epoch 90/100
1/1 [==============================] - 0s 4ms/step - loss: 0.3404 - mse: 0.3404
Epoch 91/100
1/1 [==============================] - 0s 6ms/step - loss: 0.3530 - mse: 0.3530
Epoch 92/100
1/1 [==============================] - 0s 7ms/step - loss: 0.3535 - mse: 0.3535
Epoch 93/100
1/1 [==============================] - 0s 5ms/step - loss: 0.3540 - mse: 0.3540
Epoch 94/100
1/1 [==============================] - 0s 6ms/step - loss: 0.3585 - mse: 0.3585
Epoch 95/100
1/1 [==============================] - 0s 4ms/step - loss: 0.3518 - mse: 0.3518
Epoch 96/100
1/1 [==============================] - 0s 4ms/step - loss: 0.3585 - mse: 0.3585
Epoch 97/100
1/1 [==============================] - 0s 5ms/step - loss: 0.3574 - mse: 0.3574
Epoch 98/100
1/1 [==============================] - 0s 4ms/step - loss: 0.3619 - mse: 0.3619
Epoch 99/100
1/1 [==============================] - 0s 5ms/step - loss: 0.3575 - mse: 0.3575
Epoch 100/100
1/1 [==============================] - 0s 5ms/step - loss: 0.3567 - mse: 0.3567

In [51]:
out4 = widgets.Output()
with out4:
    py = tf_model.predict(X_train)
    plt.plot(X_train, py)
    plt.plot(X_train, Y_train)
    plt.title("Model Fit")
    plt.show()
    es = []
    for i in range(len(py)):
      es.append(Y_train[i] - py[i])
    plt.plot(X_train, es)
    plt.title("Error")
    plt.show()

In [52]:
# Linear Regression
mse_linear = root_mean_squared_error(Y_test, predict_y)
mse_linear = round(mse_linear,2)

rmse_linear = root_mean_squared_error(Y_test, predict_y)
rmse_linear = round(rmse_linear,2)
coed_linear = r2_score(Y_test,predict_y) 
coed_linear = round(rmse_linear,2) 

# Decision Tree
mse_decision_tree_1 = root_mean_squared_error(Y_test, y_1)
mse_decision_tree_2 = root_mean_squared_error(Y_test, y_2)
mse_decision_tree_1 = round(mse_decision_tree_1,2)
mse_decision_tree_2 = round(mse_decision_tree_2,2)

#Neural Networks
mse_nn = root_mean_squared_error(Y_train, py)
mse_nn = round(mse_nn,2)

out5 = widgets.Output()
with out5:
    # Normal Plot
    plt.scatter(X_test,Y_test)
    # Linear Regression
    plt.scatter(X_test, predict_y, label=f"MSE Linear Regresssion: {mse_linear}")
    # Decision Tree
    plt.scatter(X_test, y_1, color="blue", label=f"MSE Descision Tree Regresssor 1: {mse_decision_tree_1}")
    plt.scatter(X_test, y_2, color="blue", label=f"MSE Descision Tree Regresssor 2: {mse_decision_tree_2}")
    # Neural Network
    plt.scatter(X_train,py, label=f"MSE Neural Network: {mse_decision_tree_2}")
    plt.xlabel('Unemployment')
    plt.ylabel('Happiness')
    plt.title("Prediction Line: 2009 - 2022")
    plt.legend()
    plt.show()

In [53]:
display(widgets.HBox([out1]))

HBox(children=(Output(outputs=({'output_type': 'display_data', 'data': {'text/plain': '<Figure size 640x480 wiâ¦

In [54]:
display(widgets.HBox([out2]))

HBox(children=(Output(outputs=({'output_type': 'display_data', 'data': {'text/plain': '<Figure size 640x480 wiâ¦

In [55]:
display(widgets.HBox([out3]))

HBox(children=(Output(outputs=({'output_type': 'display_data', 'data': {'text/plain': '<Figure size 640x480 wiâ¦

In [56]:
display(widgets.HBox([out4]))

HBox(children=(Output(),))

In [57]:
display(widgets.HBox([out5]))

HBox(children=(Output(),))